$text_color_primary: #232323;
$text_color_disabled: rgb(168, 168, 168);
$text_color_navigate: #333975;
$text_color_holidays: #aab7e3;
$text_color_success: #81bf8e;
$text_color_warning: #d6ad7f;
$text_color_danger: #c8646c;

$bg_color_primary: #fff;
$bg_color_disabled: #f5f5f5;
$bg_color_success: #e8f5eb;
$bg_color_warning: #fbebd1;
$bg_color_danger: #f9edf1;
